<div class="col-lg-3">

  <section class="list">
    <header><%= best_in_place [@board, list], :listTitle, :html_attrs => { size: 15 } %></header>
    <%= link_to board_list_path(list.board, list), method: :delete, data: {confirm: 'Are you sure'} do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
    <%= list.id %>
    <div class="listA listB">

      <% Card.where(list_id: list.id).each do |card| %>
        <!-- <%= render 'cards/card', :locals => {:card => "test"} %> -->
        <article class="card">
          <%= card.title %>
        </article>
      <% end %>

      <!-- <%= render 'cards/card' %> -->
    </div>

  </section>
</div>
