<div class="col-lg-3">

  <section class="list">
    <header><%= best_in_place [@board, list], :listTitle, :html_attrs => { size: 15 } %></header>
    <%= link_to board_list_path(list.board, list), method: :delete, data: {confirm: 'Are you sure'} do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
    <div class="listA listB">

      <% Card.where(list_id: list.id).each do |tarjeta| %>
        <!-- <%= render 'cards/card', :locals => {:card => "test"} %> -->
        <article class="card">
          <%= tarjeta.title %>
        </article>

      <% end %>

    </div>
    <%= render 'cards/form', :id => list.id %>


  </section>
</div>

<script type="text/javascript">
  var board_id = <%= @board.id %>; // for integer
  var board_name = "<%= @board.title %>"; // for string

  window.abc = function(board_id, board_name){
    do_on_load();
  };// this is your function in .js file
</script>
