<div id="list_<%= list.id %>"class="col-lg-3">

  <section class="list">
    <header><%= best_in_place [@board, list], :listTitle, :html_attrs => { size: 15 } %></header>
    <%= link_to board_list_path(list.board, list), method: :delete, data: {confirm: 'Are you sure'} do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
    <div class="listA listB">

      <% Card.where(list_id: list.id).each do |card| %>
        <article class="card">
          <%= card.title %>
          <%= link_to board_card_path(@board, card.id), method: :delete, data: {confirm: 'Are you sure'} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </article>

      <% end %>

    </div>
    <%= render 'cards/form', :id => list.id %>

  </section>

</div>
