<div class="col-md-3 boards">
  <!-- <div class="message">
    <p class="message-title"><%= link_to board.title, board %></p>
    <%= link_to 'Edit', edit_board_path(board), remote: true, class: 'btn btn-default'%>
    <%= link_to 'Delete', board_path(board), method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-default' %>
  </div> -->
  <div class="list-group-item">
    <p class="message-title"><%= link_to board.title, board %></p>
    <%= link_to 'Edit', edit_board_path(board), remote: true, class: 'btn btn-default'%>
    <%= link_to 'Delete', board_path(board), method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-default' %>
  </div>
</div>
