<!DOCTYPE html>
<html>
<head>
  <title>KanbanCard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-inverse'>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'KANBANCARD', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to edit_user_registration_path do %>
                <span class="glyphicon glyphicon-cog"></span>
                Account
                <% end %>
            </li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
                <span class="glyphicon glyphicon-log-out"></span>
                Sign Out
                <% end %>
            </li>
            <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to  new_user_registration_path do %>
                <span class="glyphicon glyphicon-user"></span>
                Sign Up
                <% end %>
            </li>
            <li><%= link_to new_user_session_path do %>
                <span class="glyphicon glyphicon-log-in"></span>
                Sign In
                <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">

    <%= yield %>
  </div>
</body>
</html>
